body {
    background: linear-gradient(to left, rgb(193, 248, 255), white, rgb(193, 248, 255))
}

a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
}

nav,
.scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
}

.scroll-container {
    width: 350px;
    height: 100px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}

audio {
    background: linear-gradient(45deg, rgb(150, 231, 255), rgb(163, 163, 255));
}

video {
    height: 40%;
    width: 50%;
}

.mood_b_fresh {
    background-image: url("logos/logo_f.png");
    background-color: rgb(153, 255, 128);
    box-shadow: 5px 5px 5px rgb(179, 255, 179);
}

.mood_b_fresh:hover,
.mood_b_fresh:focus {
    transition-duration: 0.28s;
    box-shadow: 0 0.9em 0.9em -0.38em rgb(131, 245, 169);
    transform: translateY(-0.25em);
}

.mood_b_rainy {
    background-image: url("logos/logo_r.png");
    background-color: rgb(128, 215, 255);
}

.mood_b_rainy:hover,
.mood_b_rainy:focus {
    transition-duration: 0.28s;
    box-shadow: 0 0.9em 0.9em -0.38em rgb(73, 204, 255);
    transform: translateY(-0.25em);
}

.mood_b_mountains {
    background-image: url("logos/logo_m.png");
    background-color: rgb(255, 255, 255);
}

.mood_b_mountains:hover,
.mood_b_mountains:focus {
    transition-duration: 0.28s;
    box-shadow: 0 0.9em 0.9em -0.38em rgb(255, 219, 140);
    transform: translateY(-0.25em);
}

.mood_b {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-size: cover;
    border: none;
}

label {
    font-size: 15px;
}

.buttons {
    position: relative;
    left: 42%;
}

body {
    font-family: Arial;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */

.container {
    position: relative;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.column {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img {
    position: relative;
    left: 25%;
}