@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F3F3;
  color: #111;
  scroll-behavior: smooth;
}

.content {
  padding-top: 4rem;
}